:root {
  --bg-color: #ffffff;
   --primary-color: #ffffff;
   --secondary-color: #000;
   --text-color: #000;
   --text-color-2: #000;
   --text-color-3: rgb(204, 0, 0);
   --overlay-color: rgb(255 255 255 / 70%);
}

[data-theme="light"] {
   
   --bg-color: #000000;
   --primary-color: #000000;
   --secondary-color: #fff;
   --text-color: #fff;
   --text-color-2: #fff;
   --text-color-3: rgb(204, 0, 0);
   --overlay-color: rgb(12 12 12 / 63%);
}

html,
body {
   height: 100%;
   /* font-family: 'Darker Grotesque', sans-serif; */
   font-family: "JetBrains Mono", monospace;
   font-optical-sizing: auto;
   font-size: .8185rem;
   line-height: 1.1rem;
   overflow-wrap: break-word;
   word-wrap: break-word;

}

body {
   margin: 0;
   height: 100%;
   overflow-x: hidden;
   overflow-y: visible;
   background-color: var(--bg-color);
   color: var(--text-color);
   /* font-family: 'Darker Grotesque', sans-serif; */
   font-family: "JetBrains Mono", monospace;
   line-height: 1.5;
  font-optical-sizing: auto;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   border-left: 10px solid var(--primary-color);
   border-right: 10px solid var(--primary-color);
   overflow-wrap: break-word;
}

ul {
   list-style: none;
}


h2,
h3,
h4,
h5,
h6 {
   /* font-family: 'Darker Grotesque', sans-serif; */
   font-family: "JetBrains Mono", monospace;
   font-optical-sizing: auto;
   font-style: normal;
   font-size: 1rem;
   line-height: 1.1rem;
   font-weight: bolder;
}

a,
a:hover {
   color: var(--text-color);
}

p {
   word-break: break-word;
   hyphens: auto;
}

.ovhidden {
   overflow: hidden;
}

.text_2,
.text_2:hover {
   color: var(--text-color-2);
}

code {
   /* font-family: source-code-pro,Sora Menlo, Monaco, Consolas, 'Courier New', monospace; */
   font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
}

.color_pr {
   color: var(--primary-color) !important;
}

.color_sec {
   color: var(--secondary-color);
}

/* Add these styles to your CSS file or component */


.nav_ac{
   background-color: transparent;
   cursor: pointer;
   padding: 0px 15px;
}

/* Override the text color of the Navbar */
.navbar-color {
   color: var(--text-color) !important;
 }
 

 .NotFound {
   width: 100%;
   display: flex;
   margin-top: 25%;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
 }
  .NotFound_h1 {
    color: rgb(14, 225, 67);
    font-size: 80px;
    font-weight: 800;
  }

   .NotFound_p {
      color: var(--text-color);
      font-size: 20px;
      font-weight: 500;
   }
 
   .Redirect {
     width: 80%;
     max-width: 500px;
     margin-top: 40px;
     font-size: 16px;
     color:  rgb(14, 225, 67);
 
   }
   .ProgressBar {
      height: 4px;
      margin-top: 20px;
      border-radius: 2px;
      background-color: green;
    }

.preview{
   margin-right: 1em;
}